@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
@layer{
    .backy  {
        background: #003973;
        background: -webkit-linear-gradient(to left, #E5E5BE, #003973); 
        background: linear-gradient(to left, #E5E5BE, #003973); 
        }
} */

/*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/


/* @layer{
    .backy  {
        background: #BBD2C5; 
        background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  
        background: linear-gradient(to right, #292E49, #536976, #BBD2C5); 

        }
}
 */

 /* @layer{
    .backy  {
        background: #076585; 
background: -webkit-linear-gradient(to left, #fff, #076585);  
background: linear-gradient(to left, #fff, #076585); 

        }
} */


@layer{
    .backy  {
        background: #ECE9E6;  
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
        background: linear-gradient(to right, #FFFFFF, #ECE9E6);

        }
}